<template id="drive-collection-template">
  <style>
    slot {}

    ::slotted(*) {
      margin: 1rem;
    }

    #title {
      font-size: 3rem;
    }

    section.text {
      padding-left: calc(var(--depth) * 1rem);
      margin-left: calc(var(--depth) * 1rem);
      color: var(--text);
    }

    section.slot {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 1rem;
      padding: 0.5rem;
      margin: 1rem;
      background-color: color-mix(in srgb, var(--text) 50%, transparent);
    }

    :host([depth-not-zero]) section.text {
      color: var(--bg);
    }
  </style>

  <section class="text">
    <h2 id="title">
    </h2>


    <p id="body">
    </p>
  </section>

  <section class="slot">
    <slot>
    </slot>
  </section>
</template>

<script>

  class DriveCollection extends HTMLElement {
    setDepth() {
      let depth = 0;
      let p = this.parentElement;

      while (p) {
        if (p instanceof DriveCollection) {
          depth++;
        }
        p = p.parentElement;
      }

      this.toggleAttribute("depth-not-zero", depth !== 0);
      this.style.setProperty("--depth", depth);
    }

    constructor() {
      super();

      const template = document
        .getElementById('drive-collection-template')
        .content.cloneNode(true);

      this.attachShadow({mode: 'open'}).appendChild(template);
    }


    /**
     * @typedef {Object} CollectionTemplate
     * @property {Info} info
     * @property {OrderEntry[]|null} order
     */

    /**
     * @typedef {Object} Info
     * @property {string|null} title
     * @property {string|null} body
     */

    /**
     * @typedef {Object} OrderEntry
     * @property {string} filename
     * @property {string|null} text
     */

    connectedCallback() {
      this.setDepth();
      const templateAttr = this.getAttribute('template');
      /** @type {CollectionTemplate?} */
      let template;
      if (templateAttr) {
        template = JSON.parse(templateAttr);
        console.log(`Collection template: ${JSON.stringify(template)}`);
      }


      if (template?.info.title) {
        this.shadowRoot.getElementById('title').textContent = template.info.title;
      }
      if (template?.info.body) {
        this.shadowRoot.getElementById('body').textContent = template.info.body;
      }
    }
  }

  customElements.define('drive-collection', DriveCollection);
</script>