<template id="drive-collection-template">
  <style>
    slot {}

    ::slotted(*) {
      margin: 1rem;
      background-color: var(--text);
    }


    #title {
      font-size: 3rem;
    }

    section {
      padding-left: calc(var(--depth) * 1rem);
      margin-left: calc(var(--depth) * 1rem);
    }
  </style>

  <section>
    <h2 id="title">
    </h2>


    <p id="body">
    </p>
  </section>

  <slot>
  </slot>
</template>

<script>

  class DriveCollection extends HTMLElement {
    setDepth() {
      let depth = 0;
      let p = this.parentElement;

      while (p) {
        if (p instanceof DriveCollection) {
          depth++;
        }
        p = p.parentElement;
      }
      this.style.setProperty("--depth", depth);
    }

    constructor() {
      super();

      const template = document
        .getElementById('drive-collection-template')
        .content.cloneNode(true);

      this.attachShadow({mode: 'open'}).appendChild(template);
    }


    /**
     * @typedef {Object} CollectionTemplate
     * @property {Info} info
     * @property {OrderEntry[]|null} order
     */

    /**
     * @typedef {Object} Info
     * @property {string|null} title
     * @property {string|null} body
     */

    /**
     * @typedef {Object} OrderEntry
     * @property {string} filename
     * @property {string|null} text
     */

    connectedCallback() {
      this.setDepth();
      const templateAttr = this.getAttribute('template');
      /** @type {CollectionTemplate?} */
      let template;
      if (templateAttr) {
        template = JSON.parse(templateAttr);
        console.log(`Collection template: ${JSON.stringify(template)}`);
      }


      if (template?.info.title) {
        this.shadowRoot.getElementById('title').textContent = template.info.title;
      }
      if (template?.info.body) {
        this.shadowRoot.getElementById('body').textContent = template.info.body;
      }
    }
  }

  customElements.define('drive-collection', DriveCollection);
</script>